<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Fresh Pick - Archives</title>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="screen" href="css/screen.css" />
</head>
<body>
<!-- wrap starts here -->
<div id="wrap">
  <!--header -->
  <div id="header">
    <h1 id="logo-text"><a href="http://www.free-css.com/">Freshpick</a></h1>
    <p id="slogan">Free CSS Template</p>
    <div  id="nav">
      <ul>
        <li class="first"><a href="http://www.free-css.com/">Home</a></li>
        <li><a href="style.html">Style Demo</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li id="current"><a href="archives.html">Archives</a></li>
        <li><a href="http://www.free-css.com/">Support</a></li>
        <li><a href="http://www.free-css.com/">About</a></li>
      </ul>
    </div>
    <div id="header-image"></div>
    <!--header ends-->
  </div>
  <!-- content -->
  <div id="content-outer" class="clear">
    <div id="content-wrap">
      <div id="content">
        <div id="left">
          <h2><a href="http://www.free-css.com/">Archives for 2009</a></h2>
          <div class="page-navigation clear">
            <div class="float-left"><a href="http://www.free-css.com/">&laquo; Older Entries</a></div>
            <div class="float-right"><a href="http://www.free-css.com/">Newer Entries &raquo; </a></div>
          </div>
          <ul class="archive">
            <li>
              <div class="post-title"><strong><a href="http://www.free-css.com/">Suspendisse bibendum.</a></strong></div>
              <div class="post-details">Posted on <a href="http://www.free-css.com/">May 01, 2009</a> | Filed under <a href="http://www.free-css.com/">templates</a>, <a href="http://www.free-css.com/">internet</a></div>
            </li>
            <li>
              <div class="post-title"><strong><a href="http://www.free-css.com/">Lorem ipsum dolor sit amet.</a></strong></div>
              <div class="post-details">Posted on <a href="http://www.free-css.com/">May 01, 2009</a> | Filed under <a href="http://www.free-css.com/">templates</a></div>
            </li>
            <li>
              <div class="post-title"><strong><a href="http://www.free-css.com/">In tristique orci porttitor ipsum.</a></strong></div>
              <div class="post-details">Posted on <a href="http://www.free-css.com/">April 30, 2009</a> | Filed under <a href="http://www.free-css.com/">templates</a>, <a href="http://www.free-css.com/">design</a></div>
            </li>
            <li>
              <div class="post-title"><strong><a href="http://www.free-css.com/">Donec libero. Suspendisse bibendum.</a></strong></div>
              <div class="post-details">Posted on <a href="http://www.free-css.com/">April 30, 2009</a> | Filed under <a href="http://www.free-css.com/">templates</a>, <a href="http://www.free-css.com/">design</a></div>
            </li>
            <li>
              <div class="post-title"><strong><a href="http://www.free-css.com/">Suspendisse bibendum.</a></strong></div>
              <div class="post-details">Posted on <a href="http://www.free-css.com/">April 28, 2009</a> | Filed under <a href="http://www.free-css.com/">templates</a>, <a href="http://www.free-css.com/">internet</a></div>
            </li>
            <li>
              <div class="post-title"><strong><a href="http://www.free-css.com/">Lorem ipsum dolor sit amet.</a></strong></div>
              <div class="post-details">Posted on <a href="http://www.free-css.com/">April 27, 2009</a> | Filed under <a href="http://www.free-css.com/">templates</a></div>
            </li>
            <li>
              <div class="post-title"><strong><a href="http://www.free-css.com/">In tristique orci porttitor ipsum.</a></strong></div>
              <div class="post-details">Posted on <a href="http://www.free-css.com/">April 25, 2009</a> | Filed under <a href="http://www.free-css.com/">templates</a>, <a href="http://www.free-css.com/">design</a></div>
            </li>
            <li>
              <div class="post-title"><strong><a href="http://www.free-css.com/">Donec mattis, purus nec placerat bibendum.</a></strong></div>
              <div class="post-details">Posted on <a href="http://www.free-css.com/">April 25, 2009</a> | Filed under <a href="http://www.free-css.com/">templates</a>, <a href="http://www.free-css.com/">design</a></div>
            </li>
          </ul>
          <div class="page-navigation clear">
            <div class="float-left"><a href="http://www.free-css.com/">&laquo; Older Entries</a></div>
            <div class="float-right"><a href="http://www.free-css.com/">Newer Entries &raquo; </a></div>
          </div>
        </div>
        <div id="right">
          <div class="sidemenu">
            <h3>Sidebar Menu</h3>
            <ul>
              <li><a href="http://www.free-css.com/">Home</a></li>
              <li><a href="http://www.free-css.com/">TemplateInfo</a></li>
              <li><a href="http://www.free-css.com/">Style Demo</a></li>
              <li><a href="http://www.free-css.com/">Blog</a></li>
              <li><a href="http://www.free-css.com/">Archives</a></li>
              <li><a href="http://www.free-css.com/">More Free Templates</a></li>
              <li><a href="http://www.free-css.com/">Premium Templates</a></li>
            </ul>
          </div>
          <div class="sidemenu">
            <h3>Sponsors</h3>
            <ul>
              <li><a href="http://www.free-css.com/">ThemeForest <br />
                <span>Your Choice for Site Templates, Wordpress, Joomla and CMS Themes</span></a></li>
              <li><a href="http://www.free-css.com/">4templates <br />
                <span>Low Cost Hi-Quality Templates</span></a></li>
              <li><a href="http://www.free-css.com/">TemplateMonster <br />
                <span>Delivering the Best Templates on the Net!</span></a></li>
              <li><a href="http://www.free-css.com/">Text Link Ads <br />
                <span>Monetized your website</span></a></li>
              <li><a href="http://www.free-css.com/">Fotolia <br />
                <span>Free stock images or from $1</span></a> </li>
              <li><a href="http://www.free-css.com/">Dreamhost <br />
                <span>Premium webhosting</span></a></li>
            </ul>
          </div>
          <h3>Search</h3>
          <form id="quick-search" action="http://www.free-css.com/" method="get" >
            <p>
              <label for="qsearch">Search:</label>
              <input class="tbox" id="qsearch" type="text" name="qsearch" value="type and hit enter..." title="Start typing and hit ENTER" />
              <input class="btn" alt="Search" type="image" name="searchsubmit" title="Search" src="images/search.gif" />
            </p>
          </form>
        </div>
      </div>
      <!-- content end -->
    </div>
  </div>
  <!-- footer starts here -->
  <div id="footer-outer" class="clear">
    <div id="footer-wrap">
      <div class="col-a">
        <h3>Image Gallery </h3>
        <p class="thumbs"> <a href="http://www.free-css.com/"><img src="images/thumb.jpg" width="40" height="40" alt="" /></a> <a href="http://www.free-css.com/"><img src="images/thumb.jpg" width="40" height="40" alt="" /></a> <a href="http://www.free-css.com/"><img src="images/thumb.jpg" width="40" height="40" alt="" /></a> <a href="http://www.free-css.com/"><img src="images/thumb.jpg" width="40" height="40" alt="" /></a> <a href="http://www.free-css.com/"><img src="images/thumb.jpg" width="40" height="40" alt="" /></a> <a href="http://www.free-css.com/"><img src="images/thumb.jpg" width="40" height="40" alt="" /></a> <a href="http://www.free-css.com/"><img src="images/thumb.jpg" width="40" height="40" alt="" /></a> <a href="http://www.free-css.com/"><img src="images/thumb.jpg" width="40" height="40" alt="" /></a> </p>
        <h3>Lorem ipsum dolor</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum odio, ac blandit ante orci ut diam. Cras fringilla magna. </p>
      </div>
      <div class="col-a">
        <h3>Lorem Ipsum</h3>
        <p> <strong>Lorem ipsum dolor</strong> <br />
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum odio, ac blandit ante orci ut diam.</p>
        <div class="footer-list">
          <ul>
            <li><a href="http://www.free-css.com/">consequat molestie</a></li>
            <li><a href="http://www.free-css.com/">sem justo</a></li>
            <li><a href="http://www.free-css.com/">semper</a></li>
            <li><a href="http://www.free-css.com/">magna sed purus</a></li>
            <li><a href="http://www.free-css.com/">tincidunt</a></li>
            <li><a href="http://www.free-css.com/">consequat molestie</a></li>
            <li><a href="http://www.free-css.com/">magna sed purus</a></li>
          </ul>
        </div>
      </div>
      <div class="col-b">
        <h3>About</h3>
        <p> <a href="http://www.free-css.com/"><img src="images/gravatar.jpg" width="40" height="40" alt="" class="float-left" /></a> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum odio, ac blandit ante orci ut diam.</p>
        <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. <a href="http://www.free-css.com/">Learn more...</a></p>
      </div>
      <!-- footer ends -->
    </div>
  </div>
  <!-- footer-bottom starts -->
  <div id="footer-bottom">
    <div class="bottom-left">
      <p> &copy; 2009 <strong>Your Copyright Info Here</strong>&nbsp; &nbsp; &nbsp; Design by: <a href="http://www.styleshout.com/">styleshout</a> </p>
    </div>
    <div class="bottom-right">
      <p> <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://validator.w3.org/check/referer">XHTML</a> | <a href="http://www.free-css.com/">Home</a> | <a href="http://www.free-css.com/">Sitemap</a> | <a href="http://www.free-css.com/">RSS Feed</a> </p>
    </div>
    <!-- footer-bottom ends -->
  </div>
  <!-- wrap ends here -->
</div>
</body>
</html>
